{# purpose of this template: module configuration page #}
{% extends 'RKParkHausModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="rkparkhausmodule-config">
        {% form_theme form with [
            '@RKParkHausModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        <ul class="nav nav-pills">
        {% set tabTitle = __('List views') %}
        <li class="active" role="presentation">
            <a id="vars1Tab" href="#tab1" title="{{ tabTitle|e('html_attr') }}" role="tab" data-toggle="tab">{{ tabTitle }}</a>
        </li>
        {% set tabTitle = __('Images') %}
        <li class=" dropdown" role="presentation">
            <a id="imagesTabDrop" class="dropdown-toggle" href="#" data-toggle="dropdown" aria-controls="imagesTabDropSections" aria-expanded="false">{{ tabTitle }}<span class="caret"></span></a>
            <ul id="imagesTabDropSections" class="dropdown-menu" aria-labelledby="imagesTabDrop">
            <li>
                <a id="imagesVehicleTitleImageTab" href="#tabImagesVehicleTitleImage" role="tab" data-toggle="tab" aria-controls="tabImagesVehicleTitleImage">Vehicles title image</a>
            </li>
            <li>
                <a id="imagesVehicleVehicleImageTab" href="#tabImagesVehicleVehicleImage" role="tab" data-toggle="tab" aria-controls="tabImagesVehicleVehicleImage">Vehicles vehicle image</a>
            </li>
            <li>
                <a id="imagesVehicleManufacturerImageTab" href="#tabImagesVehicleManufacturerImage" role="tab" data-toggle="tab" aria-controls="tabImagesVehicleManufacturerImage">Vehicles manufacturer image</a>
            </li>
            <li>
                <a id="imagesVehicleImageVehicleImageTab" href="#tabImagesVehicleImageVehicleImage" role="tab" data-toggle="tab" aria-controls="tabImagesVehicleImageVehicleImage">Vehicle images vehicle image</a>
            </li>
            </ul>
        </li>
        </ul>

        {{ form_errors(form) }}
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="tab1" aria-labelledby="vars1Tab">
                {% set tabTitle = __('List views') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
                
                    <p class="alert alert-info">{{ __('Here you can configure parameters for list views.')|nl2br }}</p>
                
                    {{ form_row(form.vehicleEntriesPerPage) }}
                    {{ form_row(form.vehicleImageEntriesPerPage) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesVehicleTitleImage" aria-labelledby="imagesVehicleTitleImageTab">
                {% set tabTitle = __('Image settings for vehicles title image') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForVehicleTitleImage) }}
                    <div id="shrinkDetailsVehicleTitleImage">
                    {{ form_row(form.shrinkWidthVehicleTitleImage) }}
                    {{ form_row(form.shrinkHeightVehicleTitleImage) }}
                    </div>
                    {{ form_row(form.thumbnailModeVehicleTitleImage) }}
                    {{ form_row(form.thumbnailWidthVehicleTitleImageView) }}
                    {{ form_row(form.thumbnailHeightVehicleTitleImageView) }}
                    {{ form_row(form.thumbnailWidthVehicleTitleImageDisplay) }}
                    {{ form_row(form.thumbnailHeightVehicleTitleImageDisplay) }}
                    {{ form_row(form.thumbnailWidthVehicleTitleImageEdit) }}
                    {{ form_row(form.thumbnailHeightVehicleTitleImageEdit) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesVehicleVehicleImage" aria-labelledby="imagesVehicleVehicleImageTab">
                {% set tabTitle = __('Image settings for vehicles vehicle image') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForVehicleVehicleImage) }}
                    <div id="shrinkDetailsVehicleVehicleImage">
                    {{ form_row(form.shrinkWidthVehicleVehicleImage) }}
                    {{ form_row(form.shrinkHeightVehicleVehicleImage) }}
                    </div>
                    {{ form_row(form.thumbnailModeVehicleVehicleImage) }}
                    {{ form_row(form.thumbnailWidthVehicleVehicleImageView) }}
                    {{ form_row(form.thumbnailHeightVehicleVehicleImageView) }}
                    {{ form_row(form.thumbnailWidthVehicleVehicleImageDisplay) }}
                    {{ form_row(form.thumbnailHeightVehicleVehicleImageDisplay) }}
                    {{ form_row(form.thumbnailWidthVehicleVehicleImageEdit) }}
                    {{ form_row(form.thumbnailHeightVehicleVehicleImageEdit) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesVehicleManufacturerImage" aria-labelledby="imagesVehicleManufacturerImageTab">
                {% set tabTitle = __('Image settings for vehicles manufacturer image') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForVehicleManufacturerImage) }}
                    <div id="shrinkDetailsVehicleManufacturerImage">
                    {{ form_row(form.shrinkWidthVehicleManufacturerImage) }}
                    {{ form_row(form.shrinkHeightVehicleManufacturerImage) }}
                    </div>
                    {{ form_row(form.thumbnailModeVehicleManufacturerImage) }}
                    {{ form_row(form.thumbnailWidthVehicleManufacturerImageView) }}
                    {{ form_row(form.thumbnailHeightVehicleManufacturerImageView) }}
                    {{ form_row(form.thumbnailWidthVehicleManufacturerImageDisplay) }}
                    {{ form_row(form.thumbnailHeightVehicleManufacturerImageDisplay) }}
                    {{ form_row(form.thumbnailWidthVehicleManufacturerImageEdit) }}
                    {{ form_row(form.thumbnailHeightVehicleManufacturerImageEdit) }}
                </fieldset>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tabImagesVehicleImageVehicleImage" aria-labelledby="imagesVehicleImageVehicleImageTab">
                {% set tabTitle = __('Image settings for vehicle images vehicle image') %}
                <fieldset>
                    <legend>{{ tabTitle }}</legend>
            
                    {{ form_row(form.enableShrinkingForVehicleImageVehicleImage) }}
                    <div id="shrinkDetailsVehicleImageVehicleImage">
                    {{ form_row(form.shrinkWidthVehicleImageVehicleImage) }}
                    {{ form_row(form.shrinkHeightVehicleImageVehicleImage) }}
                    </div>
                    {{ form_row(form.thumbnailModeVehicleImageVehicleImage) }}
                    {{ form_row(form.thumbnailWidthVehicleImageVehicleImageView) }}
                    {{ form_row(form.thumbnailHeightVehicleImageVehicleImageView) }}
                    {{ form_row(form.thumbnailWidthVehicleImageVehicleImageDisplay) }}
                    {{ form_row(form.thumbnailHeightVehicleImageVehicleImageDisplay) }}
                    {{ form_row(form.thumbnailWidthVehicleImageVehicleImageEdit) }}
                    {{ form_row(form.thumbnailHeightVehicleImageVehicleImageEdit) }}
                </fieldset>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@RKParkHausModule:js/RKParkHausModule.Config.js')) }}
{% endblock %}
