{# purpose of this template: linkers display view #}
{% extends routeArea == 'admin' ? 'RKWebsiteHelperModule::adminBase.html.twig' : 'RKWebsiteHelperModule::base.html.twig' %}
{% block pageTitle %}{{ linker.getTitleFromDisplayPattern()|default(__('Linker')) }}{% endblock %}
{% block title %}
    {% set templateTitle = linker.getTitleFromDisplayPattern()|default(__('Linker')) %}
    {{ templateTitle|notifyFilters('rkwebsitehelpermodule.filter_hooks.linkers.filter') }}
    {% set itemActions = knp_menu_get('RKWebsiteHelperModule:ItemActionsMenu:menu', [], { entity: linker, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ linker.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                $('h2 .dropdown > ul, h3 .dropdown > ul').removeClass('list-inline').addClass('list-unstyled dropdown-menu');
                $('h2 .dropdown > ul a, h3 .dropdown > ul a').each(function (index) {
                    $(this).html($(this).html() + $(this).find('i').first().data('original-title'));
                });
                $('h2 .dropdown > ul a i, h3 .dropdown > ul a i').addClass('fa-fw');
                $('h2 .dropdown-toggle, h3 .dropdown-toggle').removeClass('hidden').dropdown();
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    <div class="rkwebsitehelpermodule-linker rkwebsitehelpermodule-display">


    <dl>
        {% if linker.linkerImage is not empty %}
            <dt>{{ __('Linker image') }}</dt>
            <dd>{% if linker.linkerImageMeta|default %}
            <a href="{{ linker.linkerImageUrl }}" title="{{ linker.getTitleFromDisplayPattern()|e('html_attr') }}"{% if linker.linkerImageMeta.isImage %} class="lightbox"{% endif %}>
            {% if linker.linkerImageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'linkerLinkerImage') %}
                <img src="{{ linker.linkerImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ linker.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ linker.linkerImageMeta.size|rkwebsitehelpermodule_fileSize(linker.linkerImage.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% endif %}
            </dd>
        {% endif %}
        {% if linker.linkerHeadline is not empty %}
            <dt>{{ __('Linker headline') }}</dt>
            <dd>{{ linker.linkerHeadline }}</dd>
        {% endif %}
        {% if linker.linkerText is not empty %}
            <dt>{{ __('Linker text') }}</dt>
            <dd>{{ linker.linkerText|safeHtml }}</dd>
        {% endif %}
        {% if linker.theLink is not empty %}
            <dt>{{ __('The link') }}</dt>
            <dd>{{ linker.theLink }}</dd>
        {% endif %}
        {% if linker.boostrapSetting is not empty %}
            <dt>{{ __('Boostrap setting') }}</dt>
            <dd>{{ linker.boostrapSetting }}</dd>
        {% endif %}
        {% if linker.linkerLanguage is not empty %}
            <dt>{{ __('Linker language') }}</dt>
            <dd>{{ linker.linkerLanguage|languageName }}</dd>
        {% endif %}
        {% if linker.sorting is not empty %}
            <dt>{{ __('Sorting') }}</dt>
            <dd>{{ linker.sorting }}</dd>
        {% endif %}
        {% if linker.linkerGroup is not empty %}
            <dt>{{ __('Linker group') }}</dt>
            <dd>{{ linker.linkerGroup }}</dd>
        {% endif %}
        
    </dl>
    {{ include('@RKWebsiteHelperModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: linker }) }}

    {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
        {# include display hooks #}
        {{ block('display_hooks') }}
    {% endif %}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkwebsitehelpermodule.ui_hooks.linkers.display_view', id=linker.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks %}
        {% if providerArea != 'provider.scribite.ui_hooks.editor' %}{# fix for #664 #}
            {{ hook }}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block footer %}
    {{ parent() }}


{% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                $('a.lightbox').lightbox();
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endif %}
{% endblock %}
