{# purpose of this template: module configuration page #}
{% extends 'RKParkHausModule::adminBase.html.twig' %}
{% block title __('Settings') %}
{% block admin_page_icon 'wrench' %}
{% block content %}
    <div class="rkparkhausmodule-config">
        {% form_theme form with [
            '@RKParkHausModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {% set tabTitle = __('Images') %}
        <fieldset>
            <legend>{{ tabTitle }}</legend>
        
            <p class="alert alert-info">{{ __('Here you can define several options for image handling.')|nl2br }}</p>
        
            {{ form_row(form.enableShrinkingForVehicleTitleImage) }}
            <div id="shrinkDetailsVehicleTitleImage">
            {{ form_row(form.shrinkWidthVehicleTitleImage) }}
            {{ form_row(form.shrinkHeightVehicleTitleImage) }}
            </div>
            {{ form_row(form.enableShrinkingForVehicleVehicleImage) }}
            <div id="shrinkDetailsVehicleVehicleImage">
            {{ form_row(form.shrinkWidthVehicleVehicleImage) }}
            {{ form_row(form.shrinkHeightVehicleVehicleImage) }}
            </div>
            {{ form_row(form.enableShrinkingForVehicleImageVehicleImage) }}
            <div id="shrinkDetailsVehicleImageVehicleImage">
            {{ form_row(form.shrinkWidthVehicleImageVehicleImage) }}
            {{ form_row(form.shrinkHeightVehicleImageVehicleImage) }}
            </div>
            {{ form_row(form.thumbnailModeVehicle) }}
            {{ form_row(form.thumbnailWidthVehicleTitleImageView) }}
            {{ form_row(form.thumbnailHeightVehicleTitleImageView) }}
            {{ form_row(form.thumbnailWidthVehicleTitleImageDisplay) }}
            {{ form_row(form.thumbnailHeightVehicleTitleImageDisplay) }}
            {{ form_row(form.thumbnailWidthVehicleTitleImageEdit) }}
            {{ form_row(form.thumbnailHeightVehicleTitleImageEdit) }}
            {{ form_row(form.thumbnailWidthVehicleVehicleImageView) }}
            {{ form_row(form.thumbnailHeightVehicleVehicleImageView) }}
            {{ form_row(form.thumbnailWidthVehicleVehicleImageDisplay) }}
            {{ form_row(form.thumbnailHeightVehicleVehicleImageDisplay) }}
            {{ form_row(form.thumbnailWidthVehicleVehicleImageEdit) }}
            {{ form_row(form.thumbnailHeightVehicleVehicleImageEdit) }}
            {{ form_row(form.thumbnailModeVehicleImage) }}
            {{ form_row(form.thumbnailWidthVehicleImageVehicleImageView) }}
            {{ form_row(form.thumbnailHeightVehicleImageVehicleImageView) }}
            {{ form_row(form.thumbnailWidthVehicleImageVehicleImageDisplay) }}
            {{ form_row(form.thumbnailHeightVehicleImageVehicleImageDisplay) }}
            {{ form_row(form.thumbnailWidthVehicleImageVehicleImageEdit) }}
            {{ form_row(form.thumbnailHeightVehicleImageVehicleImageEdit) }}
        </fieldset>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                {{ form_widget(form.save) }}
                {{ form_widget(form.cancel) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block footer %}
    {{ parent() }}

    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            function parkhaToggleShrinkSettings(fieldName) {
                var idSuffix = fieldName.replace('rkparkhausmodule_appsettings_', '');
                $('#shrinkDetails' + idSuffix).toggleClass('hidden', !$('#rkparkhausmodule_appsettings_enableShrinkingFor' + idSuffix).prop('checked'));
            }

            $(document).ready(function() {
                $('.shrink-enabler').each(function (index) {
                    $(this).bind('click keyup', function (event) {
                        parkhaToggleShrinkSettings($(this).attr('id').replace('enableShrinkingFor', ''));
                    });
                    parkhaToggleShrinkSettings($(this).attr('id').replace('enableShrinkingFor', ''));
                });
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
