{# purpose of this template: vehicles display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'RKParkHausModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ vehicle.getTitleFromDisplayPattern()|default(__('Vehicle')) }}{% endblock %}
{% block title %}
    {% set templateTitle = vehicle.getTitleFromDisplayPattern()|default(__('Vehicle')) %}
    {{ templateTitle|notifyFilters('rkparkhausmodule.filter_hooks.vehicles.filter') }}{% if routeArea == 'admin' %} <small>({{ vehicle.workflowState|rkparkhausmodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('RKParkHausModule:ItemActionsMenu:menu', [], { entity: vehicle, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ vehicle.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="rkparkhausmodule-vehicle rkparkhausmodule-display">

    {% if not isQuickView %}
        <div class="row">
            <div class="col-sm-9">
    {% endif %}

    <dl>
        {% if vehicle.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ vehicle.workflowState|rkparkhausmodule_listEntry('vehicle', 'workflowState') }}</dd>
        {% endif %}
        {% if vehicle.titleImage is not empty %}
            <dt>{{ __('Title image') }}</dt>
            <dd>{% if vehicle.titleImage is not empty and vehicle.titleImageMeta|default %}
                        <a href="{{ vehicle.titleImageUrl }}" title="{{ vehicle.getTitleFromDisplayPattern()|e('html_attr') }}"{% if vehicle.titleImageMeta.isImage %} class="lightbox"{% endif %}>
            {% if vehicle.titleImageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'vehicleTitleImage') %}
                <img src="{{ vehicle.titleImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ vehicle.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ vehicle.titleImageMeta.size|rkparkhausmodule_fileSize(vehicle.titleImage.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if vehicle.copyrightTitleImage is not empty %}
            <dt>{{ __('Copyright title image') }}</dt>
            <dd>{{ vehicle.copyrightTitleImage }}</dd>
        {% endif %}
        {% if vehicle.vehicleImage is not empty %}
            <dt>{{ __('Vehicle image') }}</dt>
            <dd>{% if vehicle.vehicleImage is not empty and vehicle.vehicleImageMeta|default %}
                        <a href="{{ vehicle.vehicleImageUrl }}" title="{{ vehicle.getTitleFromDisplayPattern()|e('html_attr') }}"{% if vehicle.vehicleImageMeta.isImage %} class="lightbox"{% endif %}>
            {% if vehicle.vehicleImageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'vehicleVehicleImage') %}
                <img src="{{ vehicle.vehicleImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ vehicle.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ vehicle.vehicleImageMeta.size|rkparkhausmodule_fileSize(vehicle.vehicleImage.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if vehicle.copyrightVehicleImage is not empty %}
            <dt>{{ __('Copyright vehicle image') }}</dt>
            <dd>{{ vehicle.copyrightVehicleImage }}</dd>
        {% endif %}
        {% if vehicle.vehicleDescriptionTeaser is not empty %}
            <dt>{{ __('Vehicle description teaser') }}</dt>
            <dd>{{ vehicle.vehicleDescriptionTeaser|safeHtml }}</dd>
        {% endif %}
        {% if vehicle.vehicleDescription is not empty %}
            <dt>{{ __('Vehicle description') }}</dt>
            <dd>{{ vehicle.vehicleDescription|safeHtml }}</dd>
        {% endif %}
        {% if vehicle.manufacturer is not empty %}
            <dt>{{ __('Manufacturer') }}</dt>
            <dd>{{ vehicle.manufacturer }}</dd>
        {% endif %}
        {% if vehicle.manufacturerImage is not empty %}
            <dt>{{ __('Manufacturer image') }}</dt>
            <dd>{% if vehicle.manufacturerImage is not empty and vehicle.manufacturerImageMeta|default %}
                        <a href="{{ vehicle.manufacturerImageUrl }}" title="{{ vehicle.getTitleFromDisplayPattern()|e('html_attr') }}"{% if vehicle.manufacturerImageMeta.isImage %} class="lightbox"{% endif %}>
            {% if vehicle.manufacturerImageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'vehicleManufacturerImage') %}
                <img src="{{ vehicle.manufacturerImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ vehicle.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ vehicle.manufacturerImageMeta.size|rkparkhausmodule_fileSize(vehicle.manufacturerImage.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if vehicle.model is not empty %}
            <dt>{{ __('Model') }}</dt>
            <dd>{{ vehicle.model }}</dd>
        {% endif %}
        {% if vehicle.built is not empty %}
            <dt>{{ __('Built') }}</dt>
            <dd>{{ vehicle.built }}</dd>
        {% endif %}
        {% if vehicle.engine is not empty %}
            <dt>{{ __('Engine') }}</dt>
            <dd>{{ vehicle.engine }}</dd>
        {% endif %}
        {% if vehicle.displacement is not empty %}
            <dt>{{ __('Displacement') }}</dt>
            <dd>{{ vehicle.displacement }}</dd>
        {% endif %}
        {% if vehicle.cylinders is not empty %}
            <dt>{{ __('Cylinders') }}</dt>
            <dd>{{ vehicle.cylinders }}</dd>
        {% endif %}
        {% if vehicle.compression is not empty %}
            <dt>{{ __('Compression') }}</dt>
            <dd>{{ vehicle.compression }}</dd>
        {% endif %}
        {% if vehicle.fuelManagement is not empty %}
            <dt>{{ __('Fuel management') }}</dt>
            <dd>{{ vehicle.fuelManagement }}</dd>
        {% endif %}
        {% if vehicle.fuel is not empty %}
            <dt>{{ __('Fuel') }}</dt>
            <dd>{{ vehicle.fuel }}</dd>
        {% endif %}
        {% if vehicle.horsePower is not empty %}
            <dt>{{ __('Horse power') }}</dt>
            <dd>{{ vehicle.horsePower }}</dd>
        {% endif %}
        {% if vehicle.maxSpeed is not empty %}
            <dt>{{ __('Max speed') }}</dt>
            <dd>{{ vehicle.maxSpeed }}</dd>
        {% endif %}
        {% if vehicle.weight is not empty %}
            <dt>{{ __('Weight') }}</dt>
            <dd>{{ vehicle.weight }}</dd>
        {% endif %}
        {% if vehicle.brakes is not empty %}
            <dt>{{ __('Brakes') }}</dt>
            <dd>{{ vehicle.brakes }}</dd>
        {% endif %}
        {% if vehicle.gearbox is not empty %}
            <dt>{{ __('Gearbox') }}</dt>
            <dd>{{ vehicle.gearbox }}</dd>
        {% endif %}
        {% if vehicle.rim is not empty %}
            <dt>{{ __('Rim') }}</dt>
            <dd>{{ vehicle.rim }}</dd>
        {% endif %}
        {% if vehicle.tire is not empty %}
            <dt>{{ __('Tire') }}</dt>
            <dd>{{ vehicle.tire }}</dd>
        {% endif %}
        {% if vehicle.interior is not empty %}
            <dt>{{ __('Interior') }}</dt>
            <dd>{{ vehicle.interior }}</dd>
        {% endif %}
        {% if vehicle.infoField1 is not empty %}
            <dt>{{ __('Info field 1') }}</dt>
            <dd>{{ vehicle.infoField1 }}</dd>
        {% endif %}
        {% if vehicle.infoField2 is not empty %}
            <dt>{{ __('Info field 2') }}</dt>
            <dd>{{ vehicle.infoField2 }}</dd>
        {% endif %}
        {% if vehicle.infoField3 is not empty %}
            <dt>{{ __('Info field 3') }}</dt>
            <dd>{{ vehicle.infoField3 }}</dd>
        {% endif %}
        {% if vehicle.showVehicleOwner is not empty %}
            <dt>{{ __('Show vehicle owner') }}</dt>
            <dd>{% set itemid = vehicle.createCompositeIdentifier() %}
            <a id="toggleShowVehicleOwner{{ itemid }}" href="javascript:void(0);" class="rkparkhaus-ajax-toggle hidden" data-object-type="vehicle" data-field-name="showVehicleOwner" data-item-id="{{ itemid }}">
                <i class="fa fa-check{% if not vehicle.showVehicleOwner %} hidden{% endif %}" id="yesShowVehicleOwner{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                <i class="fa fa-times{% if vehicle.showVehicleOwner %} hidden{% endif %}" id="noShowVehicleOwner{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
            </a>
            <noscript><div id="noscriptShowVehicleOwner{{ itemid }}">
                {% if vehicle.showVehicleOwner %}
                    <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                {% else %}
                    <i class="fa fa-times" title="{{ __('No') }}"></i>
                {% endif %}
            </div></noscript>
            </dd>
        {% endif %}
        {% if vehicle.titleTextColor is not empty %}
            <dt>{{ __('Title text color') }}</dt>
            <dd>{{ vehicle.titleTextColor }}</dd>
        {% endif %}
        {% if vehicle.stillMyOwn is not empty %}
            <dt>{{ __('Still my own') }}</dt>
            <dd>{% set itemid = vehicle.createCompositeIdentifier() %}
            <a id="toggleStillMyOwn{{ itemid }}" href="javascript:void(0);" class="rkparkhaus-ajax-toggle hidden" data-object-type="vehicle" data-field-name="stillMyOwn" data-item-id="{{ itemid }}">
                <i class="fa fa-check{% if not vehicle.stillMyOwn %} hidden{% endif %}" id="yesStillMyOwn{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                <i class="fa fa-times{% if vehicle.stillMyOwn %} hidden{% endif %}" id="noStillMyOwn{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
            </a>
            <noscript><div id="noscriptStillMyOwn{{ itemid }}">
                {% if vehicle.stillMyOwn %}
                    <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                {% else %}
                    <i class="fa fa-times" title="{{ __('No') }}"></i>
                {% endif %}
            </div></noscript>
            </dd>
        {% endif %}
        
    </dl>
    {{ include('@RKParkHausModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: vehicle }) }}

    {% if not isQuickView %}
        {# include display hooks #}
        {{ block('display_hooks') }}
            </div>
            <div class="col-sm-3">
                {{ block('related_items') }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block related_items %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Vehicle images') }}</h4>
    {% else %}
        <h3>{{ __('Vehicle images') }}</h3>
    {% endif %}
    
    {% if vehicle.vehicleImages|default %}
        {{ include(
            '@RKParkHausModule/VehicleImage/includeDisplayItemListMany.html.twig',
            { items: vehicle.vehicleImages }
        ) }}
    {% endif %}
    
    {% set permLevel = routeArea == 'admin' ? 'ACCESS_ADMIN' : 'ACCESS_ADD' %}
    {% set mayManage = hasPermission('RKParkHausModule:Vehicle:', vehicle.id ~ '::', permLevel) %}
    {% if mayManage or (currentUser|default and vehicle.createdBy|default and vehicle.createdBy.getUid() == currentUser.uid) %}
        <p class="managelink">
            {% set createTitle = __('Create vehicle image') %}
            <a href="{{ path('rkparkhausmodule_vehicleimage_' ~ routeArea ~ 'edit', { vehicle: vehicle.id }) }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        </p>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkparkhausmodule.ui_hooks.vehicles.display_view', id=vehicle.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        {{ hook }}
    {% endfor %}
{% endblock %}
