{# purpose of this template: build the form to edit an instance of vehicle #}
{% extends routeArea == 'admin' ? 'RKParkHausModule::adminBase.html.twig' : 'RKParkHausModule::base.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@RKParkHausModule:js/RKParkHausModule.EditFunctions.js')) }}
    {{ pageAddAsset('javascript', zasset('@RKParkHausModule:js/RKParkHausModule.Validation.js')) }}
    {{ pageAddAsset('javascript', pagevars.homepath ~ 'vendor/twitter/typeahead.js/dist/typeahead.bundle.min.js') }}
{% endblock %}

{% block title mode == 'create' ? __('Create vehicle') : __('Edit vehicle') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="rkparkhausmodule-vehicle rkparkhausmodule-edit">
{% form_theme form with [
    '@RKParkHausModule/Form/bootstrap_3.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ form_start(form, {attr: {id: 'vehicleEditForm'}}) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ __('Content') }}</legend>
    
    {{ form_row(form.vehicleType) }}
    
    {{ form_row(form.titleImage) }}
    
    {{ form_row(form.copyrightTitleImage) }}
    
    {{ form_row(form.vehicleImage) }}
    
    {{ form_row(form.copyrightVehicleImage) }}
    
    {{ form_row(form.vehicleDescriptionTeaser) }}
    
    {{ form_row(form.vehicleDescription) }}
    
    {{ form_row(form.manufacturer) }}
    
    {{ form_row(form.manufacturerImage) }}
    
    {{ form_row(form.model) }}
    
    {{ form_row(form.built) }}
    
    {{ form_row(form.engine) }}
    
    {{ form_row(form.displacement) }}
    
    {{ form_row(form.cylinders) }}
    
    {{ form_row(form.compression) }}
    
    {{ form_row(form.fuelManagement) }}
    
    {{ form_row(form.fuel) }}
    
    {{ form_row(form.horsePower) }}
    
    {{ form_row(form.maxSpeed) }}
    
    {{ form_row(form.weight) }}
    
    {{ form_row(form.brakes) }}
    
    {{ form_row(form.gearbox) }}
    
    {{ form_row(form.rim) }}
    
    {{ form_row(form.tire) }}
    
    {{ form_row(form.interior) }}
    
    {{ form_row(form.infoField1) }}
    
    {{ form_row(form.infoField2) }}
    
    {{ form_row(form.infoField3) }}
    
    {{ form_row(form.owner) }}
    
    {{ form_row(form.showVehicleOwner) }}
    
    {{ form_row(form.titleTextColor) }}
    
    {{ form_row(form.stillMyOwn) }}
</fieldset>

{% if mode != 'create' %}
    {{ include('@RKParkHausModule/Helper/includeStandardFieldsEdit.html.twig', { obj: vehicle }) }}
{% endif %}

{# include display hooks #}
{% if mode != 'create' %}
    {% set hookId = vehicle.id %}
    {% set hooks = notifyDisplayHooks(eventName='rkparkhausmodule.ui_hooks.vehicles.form_edit', id=hookId) %}
{% else %}
    {% set hooks = notifyDisplayHooks(eventName='rkparkhausmodule.ui_hooks.vehicles.form_edit', id=null) %}
{% endif %}
{% if hooks is iterable and hooks|length > 0 %}
    {% for providerArea, hook in hooks %}
        {% if providerArea != 'provider.scribite.ui_hooks.editor' %}{# fix for #664 #}
            <fieldset>
                {{ hook }}
            </fieldset>
        {% endif %}
    {% endfor %}
{% endif %}


{# include return control #}
{% if mode == 'create' %}
    <fieldset>
        <legend>{{ __('Return control') }}</legend>
        {{ form_row(form.repeatCreation) }}
    </fieldset>
{% endif %}

{# include possible submit actions #}
<div class="form-group form-buttons">
    <div class="col-sm-offset-3 col-sm-9">
        {% for action in actions %}
            {{ form_widget(attribute(form, action.id)) }}
        {% endfor %}
        {{ form_widget(form.reset) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}

    {% set editImage = '<span class="fa fa-pencil-square-o"></span>' %}
    {% set deleteImage = '<span class="fa fa-trash-o"></span>' %}
    
    <script type="text/javascript">
    /* <![CDATA[ */
        
        var formButtons;
        var triggerValidation = true;
        
        function executeCustomValidationConstraints()
        {
            rKParkHausPerformCustomValidationRules('vehicle', '{% if mode != 'create' %}{{ vehicle.id }}{% endif %}');
        }
        
        function triggerFormValidation()
        {
            executeCustomValidationConstraints();
            if (!document.getElementById('vehicleEditForm').checkValidity()) {
                // This does not really submit the form,
                // but causes the browser to display the error message
                jQuery('#vehicleEditForm').find(':submit').first().click();
            }
        }
        
        function handleFormSubmit (event) {
            if (triggerValidation) {
                triggerFormValidation();
                if (!document.getElementById('vehicleEditForm').checkValidity()) {
                    event.preventDefault();
                    return false;
                }
            }
        
            // hide form buttons to prevent double submits by accident
            formButtons.each(function (index) {
                jQuery(this).addClass('hidden');
            });
        
            return true;
        }
        
        ( function($) {
            $(document).ready(function() {
                $('a.lightbox').lightbox();
                // initialise auto completion for user fields
                rKParkHausInitUserField('rkparkhausmodule_vehicle_owner', 'getVehicleOwnerUsers');
        
                var allFormFields = $('#vehicleEditForm input, #vehicleEditForm select, #vehicleEditForm textarea');
                allFormFields.change(executeCustomValidationConstraints);
        
                formButtons = $('#vehicleEditForm .form-buttons input');
                $('.btn-danger').first().bind('click keypress', function (event) {
                    if (!window.confirm('{{ __('Really delete this vehicle?') }}')) {
                        event.preventDefault();
                    }
                });
                $('#vehicleEditForm button[type=submit]').bind('click keypress', function (event) {
                    triggerValidation = !$(this).attr('formnovalidate');
                });
                $('#vehicleEditForm').submit(handleFormSubmit);
        
                {% if mode != 'create' %}
                    triggerFormValidation();
                {% endif %}
        
                rKParkHausInitUploadField('rkparkhausmodule_vehicle_titleImage_titleImage');
                rKParkHausInitUploadField('rkparkhausmodule_vehicle_vehicleImage_vehicleImage');
                rKParkHausInitUploadField('rkparkhausmodule_vehicle_manufacturerImage_manufacturerImage');
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
