{# purpose of this template: vehicle images display view #}
{% set baseTemplate = app.request.query.getBoolean('raw', false) ? 'raw' : (routeArea == 'admin' ? 'adminBase' : 'base') %}
{% extends 'RKParkHausModule::' ~ baseTemplate ~ '.html.twig' %}
{% block pageTitle %}{{ vehicleImage.getTitleFromDisplayPattern()|default(__('Vehicle image')) }}{% endblock %}
{% block title %}
    {% set templateTitle = vehicleImage.getTitleFromDisplayPattern()|default(__('Vehicle image')) %}
    {{ templateTitle|notifyFilters('rkparkhausmodule.filter_hooks.vehicleimages.filter') }}{% if routeArea == 'admin' %} <small>({{ vehicleImage.workflowState|rkparkhausmodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('RKParkHausModule:ItemActionsMenu:menu', [], { entity: vehicleImage, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ vehicleImage.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    {% set isQuickView = app.request.query.getBoolean('raw', false) %}
    <div class="rkparkhausmodule-vehicleimage rkparkhausmodule-display">


    <dl>
        {% if vehicleImage.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ vehicleImage.workflowState|rkparkhausmodule_listEntry('vehicleImage', 'workflowState') }}</dd>
        {% endif %}
        {% if vehicleImage.titel is not empty %}
            <dt>{{ __('Titel') }}</dt>
            <dd>{{ vehicleImage.titel }}</dd>
        {% endif %}
        {% if vehicleImage.vehicleImage is not empty %}
            <dt>{{ __('Vehicle image') }}</dt>
            <dd>{% if vehicleImage.vehicleImageMeta|default %}
            <a href="{{ vehicleImage.vehicleImageUrl }}" title="{{ vehicleImage.getTitleFromDisplayPattern()|e('html_attr') }}"{% if vehicleImage.vehicleImageMeta.isImage %} class="lightbox"{% endif %}>
            {% if vehicleImage.vehicleImageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'vehicleImageVehicleImage') %}
                <img src="{{ vehicleImage.vehicleImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ vehicleImage.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ vehicleImage.vehicleImageMeta.size|rkparkhausmodule_fileSize(vehicleImage.vehicleImage.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% endif %}
            </dd>
        {% endif %}
        {% if vehicleImage.copyright is not empty %}
            <dt>{{ __('Copyright') }}</dt>
            <dd>{{ vehicleImage.copyright }}</dd>
        {% endif %}
        {% if vehicleImage.imageDate is not empty %}
            <dt>{{ __('Image date') }}</dt>
            <dd>{{ vehicleImage.imageDate }}</dd>
        {% endif %}
        {% if vehicleImage.description is not empty %}
            <dt>{{ __('Description') }}</dt>
            <dd>{{ vehicleImage.description|safeHtml }}</dd>
        {% endif %}
        {% if vehicleImage.vehicle|default %}
            <dt>{{ __('Vehicle') }}</dt>
            <dd>
              {% if not isQuickView %}
                  <a href="{{ path('rkparkhausmodule_vehicle_' ~ routeArea ~ 'display', { 'id': vehicleImage.vehicle.id }) }}">{% spaceless %}
                    {{ vehicleImage.vehicle.getTitleFromDisplayPattern() }}
                  {% endspaceless %}</a>
                  <a id="vehicleItem{{ vehicleImage.vehicle.id }}Display" href="{{ path('rkparkhausmodule_vehicle_' ~ routeArea ~ 'display', { 'id': vehicleImage.vehicle.id, 'raw': 1 }) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="rkparkhaus-inline-window hidden" data-modal-title="{{ vehicleImage.vehicle.getTitleFromDisplayPattern()|e('html_attr') }}"><span class="fa fa-id-card-o"></span></a>
              {% else %}
                  {{ vehicleImage.vehicle.getTitleFromDisplayPattern() }}
              {% endif %}
            </dd>
        {% endif %}
        
    </dl>
    {{ include('@RKParkHausModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: vehicleImage }) }}

    {% if not isQuickView %}
        {# include display hooks #}
        {{ block('display_hooks') }}
    {% endif %}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkparkhausmodule.ui_hooks.vehicleimages.display_view', id=vehicleImage.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks if providerArea != 'provider.scribite.ui_hooks.editor' %}
        {{ hook }}
    {% endfor %}
{% endblock %}
