{# purpose of this template: build the form to edit an instance of vehicle image #}
{% extends routeArea == 'admin' ? 'RKParkHausModule::adminBase.html.twig' : 'RKParkHausModule::base.html.twig' %}

{% block header %}
    {{ parent() }}
    {{ pageAddAsset('javascript', zasset('@RKParkHausModule:js/RKParkHausModule.EditFunctions.js')) }}
    {{ pageAddAsset('javascript', zasset('@RKParkHausModule:js/RKParkHausModule.Validation.js')) }}
    {{ pageAddAsset('javascript', pagevars.homepath ~ 'vendor/twitter/typeahead.js/dist/typeahead.bundle.min.js') }}
{% endblock %}

{% block title mode == 'create' ? __('Create vehicle image') : __('Edit vehicle image') %}
{% block admin_page_icon mode == 'create' ? 'plus' : 'pencil-square-o' %}
{% block content %}
    <div class="rkparkhausmodule-vehicleimage rkparkhausmodule-edit">
{% form_theme form with [
    '@RKParkHausModule/Form/bootstrap_3.html.twig',
    'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
] %}
{{ form_start(form, {attr: {id: 'vehicleImageEditForm', class: 'rkparkhaus-edit-form'}}) }}
{{ form_errors(form) }}
<fieldset>
    <legend>{{ __('Content') }}</legend>
    
    {{ form_row(form.titel) }}
    
    {{ form_row(form.vehicleImage) }}
    
    {{ form_row(form.copyright) }}
    
    {{ form_row(form.imageDate) }}
    
    {{ form_row(form.description) }}
    
    {{ form_row(form.viewImage) }}
    
    {{ form_row(form.vehicleOwner) }}
</fieldset>

{{ include(
    '@RKParkHausModule/Vehicle/includeSelectOne.html.twig',
    { group: 'vehicleimage', alias: 'vehicle', aliasReverse: 'vehicleImages', mandatory: false, idPrefix: 'parkhaVehicleImage_Vehicle', linkingItem: vehicleimage, displayMode: 'choices', allowEditing: false }
) }}
{% if mode != 'create' %}
    {{ include('@RKParkHausModule/Helper/includeStandardFieldsEdit.html.twig', { obj: vehicleimage }) }}
{% endif %}

{# include display hooks #}
{% if mode != 'create' %}
    {% set hookId = vehicleimage.id %}
    {% set hooks = notifyDisplayHooks(eventName='rkparkhausmodule.ui_hooks.vehicleimages.form_edit', id=hookId) %}
{% else %}
    {% set hooks = notifyDisplayHooks(eventName='rkparkhausmodule.ui_hooks.vehicleimages.form_edit', id=null) %}
{% endif %}
{% if hooks is iterable and hooks|length > 0 %}
    {% for providerArea, hook in hooks %}
        {% if providerArea != 'provider.scribite.ui_hooks.editor' %}{# fix for #664 #}
            <fieldset>
                {{ hook }}
            </fieldset>
        {% endif %}
    {% endfor %}
{% endif %}


{# include return control #}
{% if mode == 'create' %}
    <fieldset>
        <legend>{{ __('Return control') }}</legend>
        {{ form_row(form.repeatCreation) }}
    </fieldset>
{% endif %}

{# include possible submit actions #}
<div class="form-group form-buttons">
    <div class="col-sm-offset-3 col-sm-9">
        {% for action in actions %}
            {{ form_widget(attribute(form, action.id)) }}
        {% endfor %}
        {{ form_widget(form.reset) }}
        {{ form_widget(form.cancel) }}
    </div>
</div>
{{ form_end(form) }}
</div>
{% endblock %}
{% block footer %}
    {{ parent() }}

    {% set editImage = '<span class="fa fa-pencil-square-o"></span>' %}
    {% set deleteImage = '<span class="fa fa-trash-o"></span>' %}
    
    <script type="text/javascript">
    /* <![CDATA[ */
        
        
        ( function($) {
            $(document).ready(function() {
                // initialise auto completion for user fields
                rKParkHausInitUserField('rkparkhausmodule_vehicleimage_vehicleOwner', 'getVehicleImageVehicleOwnerUsers');
                rKParkHausInitEditForm({{ mode }}, '{% if mode != 'create' %}{{ vehicleimage.id }}{% endif %}');
                rKParkHausInitUploadField('rkparkhausmodule_vehicleimage_vehicleImage_vehicleImage');
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
