{# purpose of this template: sponsors display view #}
{% extends routeArea == 'admin' ? 'RKSponsoringModule::adminBase.html.twig' : 'RKSponsoringModule::base.html.twig' %}
{% block pageTitle %}{{ sponsor.getTitleFromDisplayPattern()|default(__('Sponsor')) }}{% endblock %}
{% block title %}
    {% set templateTitle = sponsor.getTitleFromDisplayPattern()|default(__('Sponsor')) %}
    {{ templateTitle|notifyFilters('rksponsoringmodule.filter_hooks.sponsors.filter') }}{% if routeArea == 'admin' %} <small>({{ sponsor.workflowState|rksponsoringmodule_objectState(false)|lower }})</small>{% endif %}
    {% set itemActions = knp_menu_get('RKSponsoringModule:ItemActionsMenu:menu', [], { entity: sponsor, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ sponsor.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                $('h2 .dropdown > ul, h3 .dropdown > ul').removeClass('list-inline').addClass('list-unstyled dropdown-menu');
                $('h2 .dropdown > ul a, h3 .dropdown > ul a').each(function (index) {
                    $(this).html($(this).html() + $(this).find('i').first().data('original-title'));
                });
                $('h2 .dropdown > ul a i, h3 .dropdown > ul a i').addClass('fa-fw');
                $('h2 .dropdown-toggle, h3 .dropdown-toggle').removeClass('hidden').dropdown();
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    <div class="rksponsoringmodule-sponsor rksponsoringmodule-display">


    <dl>
        {% if sponsor.workflowState is not empty and routeArea == 'admin' %}
            <dt>{{ __('State') }}</dt>
            <dd>{{ sponsor.workflowState|rksponsoringmodule_listEntry('sponsor', 'workflowState') }}</dd>
        {% endif %}
        {% if sponsor.sponsorName is not empty %}
            <dt>{{ __('Sponsor name') }}</dt>
            <dd>{{ sponsor.sponsorName }}</dd>
        {% endif %}
        {% if sponsor.sponsoringEvent is not empty %}
            <dt>{{ __('Sponsoring event') }}</dt>
            <dd>{{ sponsor.sponsoringEvent }}</dd>
        {% endif %}
        {% if sponsor.logo is not empty %}
            <dt>{{ __('Logo') }}</dt>
            <dd>{% if sponsor.logo is not empty and sponsor.logoMeta|default %}
                        <a href="{{ sponsor.logoUrl }}" title="{{ sponsor.getTitleFromDisplayPattern()|e('html_attr') }}"{% if sponsor.logoMeta.isImage %} class="lightbox"{% endif %}>
            {% if sponsor.logoMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'sponsorLogo') %}
                <img src="{{ sponsor.logo.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ sponsor.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ sponsor.logoMeta.size|rksponsoringmodule_fileSize(sponsor.logo.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        {% if sponsor.description is not empty %}
            <dt>{{ __('Description') }}</dt>
            <dd>{{ sponsor.description|safeHtml }}</dd>
        {% endif %}
        {% if sponsor.startDate is not empty %}
            <dt>{{ __('Start date') }}</dt>
            <dd>{{ sponsor.startDate|localizeddate('medium', 'none') }}</dd>
        {% endif %}
        {% if sponsor.endDate is not empty %}
            <dt>{{ __('End date') }}</dt>
            <dd>{{ sponsor.endDate|localizeddate('medium', 'none') }}</dd>
        {% endif %}
        {% if sponsor.sponsoringUser is not empty %}
            <dt>{{ __('Sponsoring user') }}</dt>
            <dd>{% if sponsor.sponsoringUser > 0 %}
            {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
                {{ sponsor.sponsoringUser|profileLinkByUserId() }}
                <span class="avatar">{{ rksponsoringmodule_userAvatar(uid=sponsor.sponsoringUser, rating='g') }}</span>
            {% else %}
              {{ rksponsoringmodule_userVar('uname', sponsor.sponsoringUser) }}
            {% endif %}
            {% else %}&nbsp;{% endif %}
            </dd>
        {% endif %}
        
    </dl>
    {{ include('@RKSponsoringModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: sponsor }) }}

    {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
        {# include display hooks #}
        {{ block('display_hooks') }}
    {% endif %}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rksponsoringmodule.ui_hooks.sponsors.display_view', id=sponsor.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks %}
        {% if providerArea != 'provider.scribite.ui_hooks.editor' %}{# fix for #664 #}
            {{ hook }}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block footer %}
    {{ parent() }}


{% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                $('a.lightbox').lightbox();
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endif %}
{% endblock %}
