{# purpose of this template: inclusion template for display of related vehicle images #}
{% set hasAdminPermission = hasPermission('RKParkHausModule:VehicleImage:', '::', 'ACCESS_EDIT') %}
{% set hasEditPermission = hasPermission('RKParkHausModule:VehicleImage:', '::', 'ACCESS_EDIT') %}
{% if nolink is not defined %}
    {% set nolink = false %}
{% endif %}
{% if items|default and items|length > 0 %}
	{% for item in items %}
	{% if item.viewImage %} 
	{# hier muss ich noch die Permissions einbauen. Nur, wer einer bestimmten Gruppe angehört, soll dieses Bild sehen können, wenn item.viewImage false ist #}
		{% if hasAdminPermission or item.workflowState == 'approved' or (item.workflowState == 'defered' and hasEditPermission and uid is defined and item.createdUserId == uid) %}
			<div class="col-md-3 col-sm-6">
			<div class="col-xs-12 white-space">
			
			{# Bild behandeln #}
			
				{% if not nolink %}
					<a href="{{ item.vehicleImageUrl }}" title="{{ item.getTitleFromDisplayPattern()|e('html_attr') }}" {% if vehicle.vehicleImageMeta.isImage %} class="lightbox"{% endif %}>
				{% endif %}
				{% if item.vehicleImage is not empty and item.vehicleImageMeta.isImage %}
					{% set relationThumbRuntimeOptions = attribute(thumbRuntimeOptions, 'vehicleTitleImage') %}
					<img src="{{ item.vehicleImage.getPathname()|imagine_filter('zkroot', relationThumbRuntimeOptions) }}" alt="{{ item.getTitleFromDisplayPattern()|e('html_attr') }}" class="img-responsive center-block" />
				{% endif %}
				{% if not nolink %}
					</a>
				{% endif %}
				<p class="copyright text-muted text-right">{{ __('Copyright') }}: {{ item.copyright }}</p>
				
			{# Überschrift behandeln #}
				<h4>{{ item.getTitleFromDisplayPattern() }}</h4>

			{# Beschreibung  behandeln #}
				<p class="min-height-linker-text">{{ item.description() }}</p>
			</div>
			</div>
			
			
			{# hier noch für xs einbauen #}
			
			
		{% endif %}
	{% endif %}
	{% endfor %}
{% endif %}
