{# Purpose of this template: Display a popup selector of vehicle images for scribite integration #}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
<head>
    <title>{{ __('Search and select vehicle image') }}</title>
    {{ pageAddAsset('stylesheet', pagevars.homepath ~ 'style/core.css') }}
    {{ pageAddAsset('stylesheet', zasset('@RKParkHausModule:css/style.css')) }}
    {{ pageAddAsset('stylesheet', zasset('@RKParkHausModule:css/finder.css')) }}
    <script type="text/javascript">/* <![CDATA[ */
        if (typeof(Zikula) == 'undefined') {var Zikula = {};}
        Zikula.Config = {'entrypoint': '{{ getModVar('ZConfig', 'entrypoint', 'index.php') }}', 'baseURL': '{{ app.request.getSchemeAndHttpHost() ~ '/' }}', 'baseURI': '{{ app.request.getBasePath() }}'}; /* ]]> */
    </script>
    {{ pageAddAsset('stylesheet', asset('bootstrap/css/bootstrap.min.css')) }}
    {{ pageAddAsset('stylesheet', asset('bootstrap/css/bootstrap-theme.min.css')) }}
    {{ pageAddAsset('javascript', asset('jquery/jquery.min.js')) }}
    {{ pageAddAsset('javascript', asset('bootstrap/js/bootstrap.min.js')) }}
    {#{ pageAddAsset('javascript', pagevars.homepath ~ 'javascript/helpers/Zikula.js') }#}
    {{ pageAddAsset('javascript', zasset('@RKParkHausModule:js/RKParkHausModule.Finder.js')) }}
</head>
<body>
    <div class="container">
        <ul class="nav nav-pills nav-justified">
        <li{{ objectType == 'vehicle' ? ' class="active"' : '' }}><a href="{{ path('rkparkhausmodule_external_finder', {'objectType': 'vehicle', 'editor': editorName}) }}" title="{{ __('Search and select vehicle') }}">{{ __('Vehicles') }}</a></li>
        </ul>
        {% form_theme finderForm with [
            '@RKParkHausModule/Form/bootstrap_3.html.twig',
            'ZikulaFormExtensionBundle:Form:form_div_layout.html.twig'
        ] %}
        {{ form_start(finderForm, {attr: { id: 'rKParkHausModuleSelectorForm' }}) }}
        {{ form_errors(finderForm) }}
        <fieldset>
            <legend>{{ __('Search and select vehicle image') }}</legend>
            {{ form_row(finderForm.pasteas) }}
            <br />
            <div class="form-group">
                <label for="rKParkHausModuleObjectId" class="col-sm-3 control-label">{{ __('Vehicle image') }}:</label>
                <div class="col-sm-9">
                    <div id="rkparkhausmoduleItemContainer">
                        <ul>
                        {% for vehicleImage in items %}
                            <li>
                                {% set itemId = vehicleImage.createCompositeIdentifier() %}
                                <a href="#" data-itemid="{{ itemId }}">{{ vehicleImage.getTitleFromDisplayPattern() }}</a>
                                <input type="hidden" id="url{{ itemId }}" value="{{ url('rkparkhausmodule_vehicleimage_display', { 'id': vehicleImage.id }) }}" />
                                <input type="hidden" id="title{{ itemId }}" value="{{ vehicleImage.getTitleFromDisplayPattern()|e('html_attr') }}" />
                                <input type="hidden" id="desc{{ itemId }}" value="{% set description %}{% if vehicleImage.description is not empty %}{{ vehicleImage.description }}{% endif %}
                                {% endset %}{{ description|striptags|e('html_attr') }}" />
                            </li>
                        {% else %}
                            <li>{{ __('No entries found.') }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            {{ form_row(finderForm.sort) }}
            {{ form_row(finderForm.sortdir) }}
            {{ form_row(finderForm.num) }}
            {{ form_row(finderForm.q) }}
            <div>
                {{ pager({ display: 'page', rowcount: pager.numitems, limit: pager.itemsperpage, posvar: 'pos', maxpages: 10, route: 'rkparkhausmodule_external_finder'}) }}
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(finderForm.update) }}
                    {{ form_widget(finderForm.cancel) }}
                </div>
            </div>
        </fieldset>
        {{ form_end(finderForm) }}
    </div>

    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                rKParkHausModule.finder.onLoad();
            });
        })(jQuery);
    /* ]]> */
    </script>

    {#
    <div class="rkparkhausmodule-finderform">
        <fieldset>
            {{ render(controller('RKParkHausModule:Admin:edit')) }}
        </fieldset>
    </div>
    #}
</body>
</html>
