{# purpose of this template: inclusion template for display of related vehicle images #}
{% set hasAdminPermission = hasPermission('RKParkhausModule:VehicleImage:', '::', 'ACCESS_EDIT') %}
{% set hasEditPermission = hasPermission('RKParkhausModule:VehicleImage:', '::', 'ACCESS_EDIT') %}
{% if nolink is not defined %}
    {% set nolink = false %}
{% endif %}
{% if items|default and items|length > 0 %}
<ul class="rkparkhausmodule-related-item-list vehicleImage">
{% for item in items %}
    {% if hasAdminPermission or item.workflowState == 'approved' or (item.workflowState == 'defered' and hasEditPermission and uid is defined and item.createdUserId == uid) %}
    <li>
{% spaceless %}
{% if not nolink %}
    <a href="{{ path('rkparkhausmodule_vehicleimage_' ~ routeArea ~ 'display', { 'id': item.id }) }}" title="{{ item.getTitleFromDisplayPattern()|e('html_attr') }}">
{% endif %}
    {{ item.getTitleFromDisplayPattern() }}
{% if not nolink %}
    </a>
    <a id="vehicleImageItem{{ item.id }}Display" href="{{ path('rkparkhausmodule_vehicleimage_' ~ routeArea ~ 'display', { 'id': item.id, 'theme': 'ZikulaPrinterTheme' }) }}" title="{{ __('Open quick view window') }}" class="fa fa-search-plus hidden"></a>
{% endif %}
{% endspaceless %}
{% if not nolink %}
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                rKParkhausInitInlineWindow($('#vehicleImageItem{{ item.id }}Display'), '{{ item.getTitleFromDisplayPattern()|e('js') }}');
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endif %}
<br />
{% if item.vehicleImage is not empty and item.vehicleImageMeta.isImage %}
    <img src="{{ item.vehicleImage.getPathname()|imagine_filter('zkroot', relationThumbRuntimeOptions) }}" alt="{{ item.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ relationThumbRuntimeOptions.thumbnail.size[0] }}" height="{{ relationThumbRuntimeOptions.thumbnail.size[1] }}" class="img-rounded" />
{% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
