{# purpose of this template: vehicle images list view #}
{% extends routeArea == 'admin' ? 'RKParkhausModule::adminBase.html.twig' : 'RKParkhausModule::base.html.twig' %}
{% block title __('Vehicle image list') %}
{% block admin_page_icon 'list-alt' %}
{% block content %}
<div class="rkparkhausmodule-vehicleimage rkparkhausmodule-view">

    <p class="alert alert-info">{{ __('You may want to add some more images to your vehicle description. This album will collect all your images. You can add images later as well. The images can be restricted to be shown only to IG members.') }}</p>

    {{ block('page_nav_links') }}

    {{ include('@RKParkhausModule/VehicleImage/viewQuickNav.html.twig') }}{# see template file for available options #}

    {% if routeArea == 'admin' %}
    <form action="{{ path('rkparkhausmodule_vehicleimage_' ~ routeArea ~ 'handleselectedentries') }}" method="post" id="vehicleImagesViewForm" class="form-horizontal" role="form">
        <div>
    {% endif %}
        <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover{% if routeArea == 'admin' %} table-condensed{% endif %}">
            <colgroup>
                {% if routeArea == 'admin' %}
                    <col id="cSelect" />
                {% endif %}
                {% if routeArea == 'admin' %}
                <col id="cWorkflowState" />
                {% endif %}
                <col id="cTitel" />
                <col id="cVehicleImage" />
                <col id="cViewImage" />
                <col id="cVehicle" />
                <col id="cItemActions" />
            </colgroup>
            <thead>
            <tr>
                {% if routeArea == 'admin' %}
                    <th id="hSelect" scope="col" class="text-center">
                        <input type="checkbox" id="toggleVehicleImages" />
                    </th>
                {% endif %}
                {% if routeArea == 'admin' %}
                <th id="hWorkflowState" scope="col" class="text-left">
                    <a href="{{ sort.workflowState.url }}" title="{{ __f('Sort by %s', {'%s': 'state'}) }}" class="{{ sort.workflowState.class }}">{{ __('State') }}</a>
                </th>
                {% endif %}
                <th id="hTitel" scope="col" class="text-left">
                    <a href="{{ sort.titel.url }}" title="{{ __f('Sort by %s', {'%s': 'titel'}) }}" class="{{ sort.titel.class }}">{{ __('Titel') }}</a>
                </th>
                <th id="hVehicleImage" scope="col" class="text-left">
                    <a href="{{ sort.vehicleImage.url }}" title="{{ __f('Sort by %s', {'%s': 'vehicle image'}) }}" class="{{ sort.vehicleImage.class }}">{{ __('Vehicle image') }}</a>
                </th>
                <th id="hViewImage" scope="col" class="text-center z-order-unsorted">
                    {{ __('View image') }}
                </th>
                <th id="hVehicle" scope="col" class="text-left">
                    <a href="{{ sort.vehicle.url }}" title="{{ __f('Sort by %s', {'%s': 'vehicle'}) }}" class="{{ sort.vehicle.class }}">{{ __('Vehicle') }}</a>
                </th>
                <th id="hItemActions" scope="col" class="text-right z-order-unsorted">{{ __('Actions') }}</th>
            </tr>
            </thead>
            <tbody>
        
        {% for vehicleImage in items %}
            <tr>
                {% if routeArea == 'admin' %}
                    <td headers="hSelect" class="text-center">
                        <input type="checkbox" name="items[]" value="{{ vehicleImage.id }}" class="vehicleimages-checkbox" />
                    </td>
                {% endif %}
                {% if routeArea == 'admin' %}<td headers="hWorkflowState" class="text-left nowrap">
                    {{ vehicleImage.workflowState|rkparkhausmodule_objectState }}
                </td>
                {% endif %}<td headers="hTitel" class="text-left">
                    {{ vehicleImage.titel }}
                </td>
                <td headers="hVehicleImage" class="text-left">
                    {% if vehicleImage.vehicleImageMeta|default %}
                    <a href="{{ vehicleImage.vehicleImageUrl }}" title="{{ vehicleImage.getTitleFromDisplayPattern()|e('html_attr') }}"{% if vehicleImage.vehicleImageMeta.isImage %} class="lightbox"{% endif %}>
                    {% if vehicleImage.vehicleImageMeta.isImage %}
                        {% set thumbOptions = attribute(thumbRuntimeOptions, 'vehicleImageVehicleImage') %}
                        <img src="{{ vehicleImage.vehicleImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ vehicleImage.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
                    {% else %}
                        {{ __('Download') }} ({{ vehicleImage.vehicleImageMeta.size|rkparkhausmodule_fileSize(vehicleImage.vehicleImage.getPathname(), false, false) }})
                    {% endif %}
                    </a>
                    {% endif %}
                </td>
                <td headers="hViewImage" class="text-center">
                    {% set itemid = vehicleImage.id %}
                    <a id="toggleViewImage{{ itemid }}" href="javascript:void(0);" class="hidden">
                    {% if vehicleImage.viewImage %}
                        <i class="cursor-pointer fa fa-check" id="yesviewimage_{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="cursor-pointer fa fa-times hidden" id="noviewimage_{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    {% else %}
                        <i class="cursor-pointer fa fa-check hidden" id="yesviewimage_{{ itemid }}" title="{{ __('This setting is enabled. Click here to disable it.') }}"></i>
                        <i class="cursor-pointer fa fa-times" id="noviewimage_{{ itemid }}" title="{{ __('This setting is disabled. Click here to enable it.') }}"></i>
                    {% endif %}
                    </a>
                    <noscript><div id="noscriptViewImage{{ itemid }}">
                        {% if vehicleImage.viewImage %}
                            <i class="fa fa-check" title="{{ __('Yes') }}"></i>
                        {% else %}
                            <i class="fa fa-times" title="{{ __('No') }}"></i>
                        {% endif %}
                    </div></noscript>
                </td>
                <td headers="hVehicle" class="text-left">
                    {% if vehicleImage.vehicle|default %}
                        <a href="{{ path('rkparkhausmodule_vehicle_' ~ routeArea ~ 'display', { 'id': vehicleImage.vehicle.id }) }}">{% spaceless %}
                          {{ vehicleImage.vehicle.getTitleFromDisplayPattern() }}
                        {% endspaceless %}</a>
                        <a id="vehicleItem{{ vehicleImage.id }}_rel_{{ vehicleImage.vehicle.id }}Display" href="{{ path('rkparkhausmodule_vehicle_' ~ routeArea ~ 'display', {'id': vehicleImage.vehicle.id, 'theme': 'ZikulaPrinterTheme' }) }}" title="{{ __('Open quick view window')|e('html_attr') }}" class="fa fa-search-plus hidden"></a>
                        <script type="text/javascript">
                        /* <![CDATA[ */
                            ( function($) {
                                $(document).ready(function() {
                                    rKParkhausInitInlineWindow($('#vehicleItem{{ vehicleImage.id }}_rel_{{ vehicleImage.vehicle.id }}Display'), '{{ vehicleImage.vehicle.getTitleFromDisplayPattern()|e('js') }}');
                                });
                            })(jQuery);
                        /* ]]> */
                        </script>
                    {% else %}
                        {{ __('Not set.') }}
                    {% endif %}
                </td>
                <td id="itemActions{{ vehicleImage.id }}" headers="hItemActions" class="actions text-right nowrap z-w02">
                    {% set itemActions = knp_menu_get('RKParkhausModule:ItemActionsMenu:menu', [], { entity: vehicleImage, area: routeArea, context: 'view' }) %}
                    <div class="dropdown">
                        <a id="itemActions{{ vehicleImage.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> <span class="caret"></span></a>
                        
                        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr class="z-{{ routeArea == 'admin' ? 'admin' : 'data' }}tableempty">
                <td class="text-left" colspan="{% if routeArea == 'admin' %}7{% else %}6{% endif %}">
            {{ __('No vehicle images found.') }}
              </td>
            </tr>
        {% endfor %}
        
            </tbody>
        </table>
        </div>
        
        {% if showAllEntries != 1 and pager|default %}
            {{ pager({ rowcount: pager.numitems, limit: pager.itemsperpage, display: 'page', route: 'rkparkhausmodule_vehicleimage_' ~ routeArea ~ 'view'}) }}
        {% endif %}
    {% if routeArea == 'admin' %}
            <fieldset>
                <label for="rKParkhausModuleAction" class="col-sm-3 control-label">{{ __('With selected vehicle images') }}</label>
                <div class="col-sm-6">
                    <select id="rKParkhausModuleAction" name="action" class="form-control input-sm">
                        <option value="">{{ __('Choose action') }}</option>
                        <option value="delete" title="{{ __('Delete content permanently.') }}">{{ __('Delete') }}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="submit" value="{{ __('Submit') }}" class="btn btn-default btn-sm" />
                </div>
            </fieldset>
        </div>
    </form>
    {% endif %}

    {{ block('display_hooks') }}
</div>
{% endblock %}
{% block page_nav_links %}
    {% if canBeCreated %}
        {% if hasPermission('RKParkhausModule:VehicleImage:', '::', 'ACCESS_EDIT') %}
            {% set createTitle = __('Create vehicle image') %}
            <a href="{{ path('rkparkhausmodule_vehicleimage_' ~ routeArea ~ 'edit') }}" title="{{ createTitle|e('html_attr') }}" class="fa fa-plus">{{ createTitle }}</a>
        {% endif %}
    {% endif %}
    {% if showAllEntries == 1 %}
        {% set linkTitle = __('Back to paginated view') %}
        <a href="{{ path('rkparkhausmodule_vehicleimage_' ~ routeArea ~ 'view') }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% else %}
        {% set linkTitle = __('Show all entries') %}
        <a href="{{ path('rkparkhausmodule_vehicleimage_' ~ routeArea ~ 'view', { all: 1 }) }}" title="{{ linkTitle|e('html_attr') }}" class="fa fa-table">{{ linkTitle }}</a>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    
    {# here you can activate calling display hooks for the view page if you need it #}
    {# % if routeArea != 'admin' %}
        {% set hooks = notifyDisplayHooks(eventName='rkparkhausmodule.ui_hooks.vehicleimages.display_view', urlObject=currentUrlObject) %}
        {% for providerArea, hook in hooks %}
            {{ hook }}
        {% endfor %}
    {% endif % #}
{% endblock %}
{% block footer %}
    {{ parent() }}

<script type="text/javascript">
/* <![CDATA[ */
    ( function($) {
        $(document).ready(function() {
            $('a.lightbox').lightbox();
            $('.rkparkhausmodule-vehicleimage .dropdown > ul').removeClass('list-inline').addClass('list-unstyled dropdown-menu dropdown-menu-right');
            $('.rkparkhausmodule-vehicleimage .dropdown > ul a').each(function (index) {
                $(this).html($(this).html() + $(this).find('i').first().data('original-title'));
            });
            $('.rkparkhausmodule-vehicleimage .dropdown > ul a i').addClass('fa-fw');
            $('.rkparkhausmodule-vehicleimage .dropdown-toggle').removeClass('hidden').dropdown();
            {% for vehicleImage in items %}
                {% set itemid = vehicleImage.id %}
                rKParkhausInitToggle('vehicleImage', 'viewImage', '{{ itemid|e('js') }}');
            {% endfor %}
            {% if routeArea == 'admin' %}
                {# init the "toggle all" functionality #}
                if ($('#toggleVehicleImages').length > 0) {
                    $('#toggleVehicleImages').click(function (event) {
                        $('vehicleimages-checkbox').prop('checked', $(this).prop('checked'));
                    });
                }
            {% endif %}
        });
    })(jQuery);
/* ]]> */
</script>
{% endblock %}
