{# Purpose of this template: Display one certain carousel within an external context #}
<div id="carousel{$carousel.id}" class="rkwebsitehelpermodule-external-carousel">
{% if displayMode == 'link' %}
    <p class="rkwebsitehelpermodule-external-link">
    <a href="{{ path('rkwebsitehelpermodule_carousel_display', { 'id': carousel.id }) }}" title="{{ carousel.getTitleFromDisplayPattern()|e('html_attr') }}">
    {{ carousel.getTitleFromDisplayPattern()|notifyFilters('websitehelper.filter_hooks.carousells.filter') }}
    </a>
    </p>
{% endif %}
{% if hasPermission('RKWebsiteHelperModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="rkwebsitehelpermodule-external-title">
            <strong>{{ carousel.getTitleFromDisplayPattern()|notifyFilters('websitehelper.filter_hooks.carousells.filter') }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="rkwebsitehelpermodule-external-snippet">
        &nbsp;
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="rkwebsitehelpermodule-external-description">
            {% if carousel.carouselName is not empty %}{{ carousel.carouselName }}<br />{% endif %}
        </p>
    #}
{% endif %}
</div>
