{# purpose of this template: carousells display view #}
{% extends routeArea == 'admin' ? 'RKWebsitehelperModule::adminBase.html.twig' : 'RKWebsitehelperModule::base.html.twig' %}
{% block pageTitle %}{{ carousel.getTitleFromDisplayPattern()|default(__('Carousel')) }}{% endblock %}
{% block title %}
    {% set templateTitle = carousel.getTitleFromDisplayPattern()|default(__('Carousel')) %}
    {{ templateTitle|notifyFilters('rkwebsitehelpermodule.filter_hooks.carousells.filter') }}
    {% set itemActions = knp_menu_get('RKWebsitehelperModule:ItemActionsMenu:menu', [], { entity: carousel, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ carousel.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                $('h2 .dropdown > ul, h3 .dropdown > ul').removeClass('list-inline').addClass('list-unstyled dropdown-menu');
                $('h2 .dropdown > ul a, h3 .dropdown > ul a').each(function (index) {
                    $(this).html($(this).html() + $(this).find('i').first().data('original-title'));
                });
                $('h2 .dropdown > ul a i, h3 .dropdown > ul a i').addClass('fa-fw');
                $('h2 .dropdown-toggle, h3 .dropdown-toggle').removeClass('hidden').dropdown();
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    <div class="rkwebsitehelpermodule-carousel rkwebsitehelpermodule-display">

    {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
        <div class="row">
            <div class="col-sm-9">
    {% endif %}

    <dl>
        {% if carousel.carouselName is not empty %}
            <dt>{{ __('Carousel name') }}</dt>
            <dd>{{ carousel.carouselName }}</dd>
        {% endif %}
        {% if carousel.remarks is not empty %}
            <dt>{{ __('Remarks') }}</dt>
            <dd>{{ carousel.remarks }}</dd>
        {% endif %}
        {% if carousel.slidingTime is not empty %}
            <dt>{{ __('Sliding time') }}</dt>
            <dd>{{ carousel.slidingTime }}</dd>
        {% endif %}
        {% if carousel.controls is not empty %}
            <dt>{{ __('Controls') }}</dt>
            <dd>{% if carousel.controls %}
                <i class="fa fa-check" title="{{ __('Yes') }}"></i>
            {% else %}
                <i class="fa fa-times" title="{{ __('No') }}"></i>
            {% endif %}
            </dd>
        {% endif %}
        {% if carousel.carouselGroup is not empty %}
            <dt>{{ __('Carousel group') }}</dt>
            <dd>{{ carousel.carouselGroup }}</dd>
        {% endif %}
        
    </dl>
    {{ include('@RKWebsitehelperModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: carousel }) }}

    {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
        {# include display hooks #}
        {{ block('display_hooks') }}
            </div>
            <div class="col-sm-3">
                {{ block('related_items') }}
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block related_items %}
    {% if routeArea == 'admin' %}
        <h4>{{ __('Carousel items') }}</h4>
    {% else %}
        <h3>{{ __('Carousel items') }}</h3>
    {% endif %}
    
    {% if carousel.carouselItems|default %}
        {{ include(
            '@RKWebsitehelperModule/CarouselItem/includeDisplayItemListMany.html.twig',
            { items: carousel.carouselItems }
        ) }}
    {% endif %}
    
    {% set permLevel = 'ACCESS_EDIT' %}
    {% if routeArea == 'admin' %}
        {% set permLevel = 'ACCESS_ADMIN' %}
    {% endif %}
    {% set mayManage = hasPermission('RKWebsitehelperModule:Carousel:', carousel.id ~ '::', permLevel) %}
    {% if mayManage or (uid is defined and carousel.createdUserId is defined and carousel.createdUserId == uid) %}
    <p class="managelink">
        {% set createTitle = __('Create carousel item') %}
        <a href="{{ path('rkwebsitehelpermodule_carouselitem_' ~ routeArea ~ 'edit', { carousel: carousel.id }) }}" title="{{ createTitle }}" class="fa fa-plus">{{ createTitle }}</a>
    </p>
    {% endif %}
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkwebsitehelpermodule.ui_hooks.carousells.display_view', id=carousel.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks %}
        {% if providerArea != 'provider.scribite.ui_hooks.editor' %}{# fix for #664 #}
            {{ hook }}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block footer %}
    {{ parent() }}

{% endblock %}
