{# purpose of this template: website images display view #}
{% extends routeArea == 'admin' ? 'RKWebsitehelperModule::adminBase.html.twig' : 'RKWebsitehelperModule::base.html.twig' %}
{% block pageTitle %}{{ websiteImage.getTitleFromDisplayPattern()|default(__('Website image')) }}{% endblock %}
{% block title %}
    {% set templateTitle = websiteImage.getTitleFromDisplayPattern()|default(__('Website image')) %}
    {{ templateTitle|notifyFilters('rkwebsitehelpermodule.filter_hooks.websiteimages.filter') }}
    {% set itemActions = knp_menu_get('RKWebsitehelperModule:ItemActionsMenu:menu', [], { entity: websiteImage, area: routeArea, context: 'display' }) %}
    <div class="dropdown">
        <a id="itemActions{{ websiteImage.id }}DropDownToggle" role="button" data-toggle="dropdown" data-target="#" href="javascript:void(0);" class="hidden dropdown-toggle"><i class="fa fa-tasks"></i> {{ __('Actions') }} <span class="caret"></span></a>
        
        {{ knp_menu_render(itemActions, { template: 'ZikulaMenuModule:Override:actions.html.twig' }) }}
    </div>
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                $('h2 .dropdown > ul, h3 .dropdown > ul').removeClass('list-inline').addClass('list-unstyled dropdown-menu');
                $('h2 .dropdown > ul a, h3 .dropdown > ul a').each(function (index) {
                    $(this).html($(this).html() + $(this).find('i').first().data('original-title'));
                });
                $('h2 .dropdown > ul a i, h3 .dropdown > ul a i').addClass('fa-fw');
                $('h2 .dropdown-toggle, h3 .dropdown-toggle').removeClass('hidden').dropdown();
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endblock %}
{% block admin_page_icon 'eye' %}
{% block content %}
    <div class="rkwebsitehelpermodule-websiteimage rkwebsitehelpermodule-display">


    <dl>
        {% if websiteImage.imageTitle is not empty %}
            <dt>{{ __('Image title') }}</dt>
            <dd>{{ websiteImage.imageTitle }}</dd>
        {% endif %}
        {% if websiteImage.myImage is not empty %}
            <dt>{{ __('My image') }}</dt>
            <dd>{% if websiteImage.myImageMeta|default %}
            <a href="{{ websiteImage.myImageUrl }}" title="{{ websiteImage.getTitleFromDisplayPattern()|e('html_attr') }}"{% if websiteImage.myImageMeta.isImage %} class="lightbox"{% endif %}>
            {% if websiteImage.myImageMeta.isImage %}
                {% set thumbOptions = attribute(thumbRuntimeOptions, 'websiteImageMyImage') %}
                <img src="{{ websiteImage.myImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ websiteImage.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
            {% else %}
                {{ __('Download') }} ({{ websiteImage.myImageMeta.size|rkwebsitehelpermodule_fileSize(websiteImage.myImage.getPathname(), false, false) }})
            {% endif %}
            </a>
            {% endif %}
            </dd>
        {% endif %}
        {% if websiteImage.myDescription is not empty %}
            <dt>{{ __('My description') }}</dt>
            <dd>{{ websiteImage.myDescription|safeHtml }}</dd>
        {% endif %}
        
    </dl>
    {{ include('@RKWebsitehelperModule/Helper/includeStandardFieldsDisplay.html.twig', { obj: websiteImage }) }}

    {% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
        {# include display hooks #}
        {{ block('display_hooks') }}
    {% endif %}
</div>
{% endblock %}
{% block display_hooks %}
    {% set hooks = notifyDisplayHooks(eventName='rkwebsitehelpermodule.ui_hooks.websiteimages.display_view', id=websiteImage.id, urlObject=currentUrlObject) %}
    {% for providerArea, hook in hooks %}
        {% if providerArea != 'provider.scribite.ui_hooks.editor' %}{# fix for #664 #}
            {{ hook }}
        {% endif %}
    {% endfor %}
{% endblock %}
{% block footer %}
    {{ parent() }}


{% if app.request.query.get('theme') != 'ZikulaPrinterTheme' %}
    <script type="text/javascript">
    /* <![CDATA[ */
        ( function($) {
            $(document).ready(function() {
                $('a.lightbox').lightbox();
            });
        })(jQuery);
    /* ]]> */
    </script>
{% endif %}
{% endblock %}
