{# purpose of this template: inclusion template for display of related carousel items #}
{% set hasAdminPermission = hasPermission('RKWebsiteHelperModule:CarouselItem:', '::', 'ACCESS_EDIT') %}
{% if items|default and items|length > 0 %}
<ul class="rkwebsitehelpermodule-related-item-list carouselItem">
{% for item in items %}
    {% if hasAdminPermission or item.workflowState == 'approved' %}
    <li>
    {{ item.getTitleFromDisplayPattern() }}
<br />
{% if item.itemImage is not empty and item.itemImageMeta.isImage %}
    <img src="{{ item.itemImage.getPathname()|imagine_filter('zkroot', relationThumbRuntimeOptions) }}" alt="{{ item.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ relationThumbRuntimeOptions.thumbnail.size[0] }}" height="{{ relationThumbRuntimeOptions.thumbnail.size[1] }}" class="img-rounded" />
{% endif %}
    </li>
    {% endif %}
{% endfor %}
</ul>
{% endif %}
