{# Purpose of this template: Display one certain vehicle image within an external context #}
<div id="vehicleImage{$vehicleImage.id}" class="rkparkhausmodule-external-vehicleimage">
{% if displayMode == 'link' %}
    <p class="rkparkhausmodule-external-link">
    <a href="{{ path('rkparkhausmodule_vehicleimage_display', { 'id': vehicleImage.id }) }}" title="{{ vehicleImage.getTitleFromDisplayPattern()|e('html_attr') }}">
    {{ vehicleImage.getTitleFromDisplayPattern()|notifyFilters('parkhaus.filter_hooks.vehicleimages.filter') }}
    </a>
    </p>
{% endif %}
{% if hasPermission('RKParkHausModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="rkparkhausmodule-external-title">
            <strong>{{ vehicleImage.getTitleFromDisplayPattern()|notifyFilters('parkhaus.filter_hooks.vehicleimages.filter') }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="rkparkhausmodule-external-snippet">
        {% if vehicleImage.vehicleImageMeta|default %}
        <a href="{{ vehicleImage.vehicleImageUrl }}" title="{{ vehicleImage.getTitleFromDisplayPattern()|e('html_attr') }}"{% if vehicleImage.vehicleImageMeta.isImage %} class="lightbox"{% endif %}>
        {% if vehicleImage.vehicleImageMeta.isImage %}
            {% set thumbOptions = attribute(thumbRuntimeOptions, 'vehicleImageVehicleImage') %}
            <img src="{{ vehicleImage.vehicleImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ vehicleImage.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
        {% else %}
            {{ __('Download') }} ({{ vehicleImage.vehicleImageMeta.size|rkparkhausmodule_fileSize(vehicleImage.vehicleImage.getPathname(), false, false) }})
        {% endif %}
        </a>
        {% endif %}
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="rkparkhausmodule-external-description">
            {% if vehicleImage.description is not empty %}{{ vehicleImage.description }}<br />{% endif %}
        </p>
    #}
{% endif %}
</div>
