{# Purpose of this template: Display item information for previewing from other modules #}
<dl id="websiteImage{{ websiteImage.id }}">
<dt>{{ websiteImage.getTitleFromDisplayPattern()|notifyFilters('websitehelper.filter_hooks.websiteimages.filter') }}</dt>
<dd>{% if websiteImage.myImageMeta|default %}
<a href="{{ websiteImage.myImageUrl }}" title="{{ websiteImage.getTitleFromDisplayPattern()|e('html_attr') }}"{% if websiteImage.myImageMeta.isImage %} class="lightbox"{% endif %}>
{% if websiteImage.myImageMeta.isImage %}
    {% set thumbOptions = attribute(thumbRuntimeOptions, 'websiteImageMyImage') %}
    <img src="{{ websiteImage.myImage.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ websiteImage.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
{% else %}
    {{ __('Download') }} ({{ websiteImage.myImageMeta.size|rkwebsitehelpermodule_fileSize(websiteImage.myImage.getPathname(), false, false) }})
{% endif %}
</a>
{% endif %}
</dd>
{% if websiteImage.myDescription is not empty %}<dd>{{ websiteImage.myDescription }}</dd>{% endif %}
</dl>
