<div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ pagevars.homepath }}">
		  <img alt={{ getModVar('ZConfig', 'sitename') }} src="{{ zasset('@ZikulaOsnabrueckTheme:images/logo.png') }}" width="71px" height="26px"/></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>{{ adminPanelMenu() }}</li>
            <li><a href="{{ pagevars.homepath }}" title="{{ __('Go to the sites home page') }}">Startseite</a></li>
 

			  <li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">die IG <span class="caret"></span></a>
				  <ul class="dropdown-menu">
					{% if modAvailable('ZikulaPagesModule') %}
						{% if hasPermission('ZikulaPagesModule::', '::', 'ACCESS_READ') %}
							<li><a href="{{ path('zikulapagesmodule_user_display', { urltitle: 'uber-uns' }) }}">über uns</a></li>
						{% endif %}
					{% endif %}
					{% if modAvailable('ZikulaPagesModule') %}
						{% if hasPermission('ZikulaPagesModule::', '::', 'ACCESS_READ') %}
							<li><a href="{{ path('zikulapagesmodule_user_display', { urltitle: 'vorstand' }) }}">der Vorstand</a></li>
						{% endif %}
					{% endif %}		
					
					
				  </ul>
				</li>
				<li><a href="/?module=news&type=user&func=view&displayonindex=1">News</a></li>
				{% if hasPermission('ZikulaPagesModule::', '::', 'ACCESS_READ') %}
				<li><a href="/pages/display/termine">Termine</a></li>
				{% endif %}
				{% if modAvailable('ZikulaPagesModule') %}
					{% if hasPermission('ZikulaPagesModule::', '::', 'ACCESS_READ') %}
						<li><a href="{{ path('zikulapagesmodule_user_display', { urltitle: 'links' }) }}">Links</a></li>
					{% endif %}
				{% endif %}
				{% if modAvailable('RKParkHausModule') %}
					{% if hasPermission('RKParkHausModule::', '::', 'ACCESS_READ') %}
						<li><a href="{{ path('rkparkhausmodule_vehicle_view') }}">Parkhaus</a></li>
					{% endif %}	
				{% endif %}
				


            <li><a href="{{ path('zikulasearchmodule_user_form') }}" title="{{ __('Search this site') }}"><span class="fa fa-search"></span></a></li>
			
          </ul>

            

        </div><!--/.navbar-collapse -->
      </div>
    </div>
	
	