{# Purpose of this template: Display one certain sponsor within an external context #}
<div id="sponsor{$sponsor.id}" class="rksponsoringmodule-external-sponsor">
{% if displayMode == 'link' %}
    <p class="rksponsoringmodule-external-link">
    <a href="{{ path('rksponsoringmodule_sponsor_display', { 'id': sponsor.id }) }}" title="{{ sponsor.getTitleFromDisplayPattern()|e('html_attr') }}">
    {{ sponsor.getTitleFromDisplayPattern()|notifyFilters('sponsoring.filter_hooks.sponsors.filter') }}
    </a>
    </p>
{% endif %}
{% if hasPermission('RKSponsoringModule::', '::', 'ACCESS_EDIT') %}
    {# for normal users without edit permission show only the actual file per default #}
    {% if displayMode == 'embed' %}
        <p class="rksponsoringmodule-external-title">
            <strong>{{ sponsor.getTitleFromDisplayPattern()|notifyFilters('sponsoring.filter_hooks.sponsors.filter') }}</strong>
        </p>
    {% endif %}
{% endif %}

{% if displayMode == 'link' %}
{% elseif displayMode == 'embed' %}
    <div class="rksponsoringmodule-external-snippet">
        {% if sponsor.logo is not empty and sponsor.logoMeta|default %}
                    <a href="{{ sponsor.logoUrl }}" title="{{ sponsor.getTitleFromDisplayPattern()|e('html_attr') }}"{% if sponsor.logoMeta.isImage %} class="lightbox"{% endif %}>
        {% if sponsor.logoMeta.isImage %}
            {% set thumbOptions = attribute(thumbRuntimeOptions, 'sponsorLogo') %}
            <img src="{{ sponsor.logo.getPathname()|imagine_filter('zkroot', thumbOptions) }}" alt="{{ sponsor.getTitleFromDisplayPattern()|e('html_attr') }}" width="{{ thumbOptions.thumbnail.size[0] }}" height="{{ thumbOptions.thumbnail.size[1] }}" class="img-thumbnail" />
        {% else %}
            {{ __('Download') }} ({{ sponsor.logoMeta.size|rksponsoringmodule_fileSize(sponsor.logo.getPathname(), false, false) }})
        {% endif %}
        </a>
        {% else %}&nbsp;{% endif %}
    </div>

    {# you can distinguish the context like this: #}
    {# % if source == 'contentType' %}
        ...
    {% elseif source == 'scribite' %}
        ...
    {% endif % #}

    {# you can enable more details about the item: #}
    {#
        <p class="rksponsoringmodule-external-description">
            {% if sponsor.description is not empty %}{{ sponsor.description }}<br />{% endif %}
        </p>
    #}
{% endif %}
</div>
